*{
    box-sizing: border-box;
}
body {
    margin: 0 auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box{
    position: relative;
}

#hero{
    background-image: url(../img/hero.png);
    width:35px;
    height:55px;
    position: absolute;
    bottom:5px;
    left:50%;
    transform:translateX(-50%);
}

.heroRight{
    background-position:35px;
}

.heroLeft{
    background-position:70px;
}

.heroStop{
    background-position:0;
}

.enemy{
    background-image: url(../img/enemy.png);
    width:44px;
    height:55px;
    position: absolute;
    top:2px;
    left:50%;
    transform:translateX(-50%);
}
.enemyDeath{
    background-position:99%;
    top:30px;
}